:root {
  --primary: rgb(1, 1, 133);
  --secondary: skyblue;
  --tertiary: blue;
  --shadow: -5px 5px 5px rgba(44, 40, 40, 0.778);
}

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}

.btn {
  background: var(--tertiary);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
  color: white;
}
.btn:hover {
  cursor: pointer;
}
/* global */
.global {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.global > div {
  display: flex;
  justify-content: space-between;
}
/* <!-- header --> */
header {
  background-color: var(--primary);
  color: white;
  padding: 10px 0;
  font-size: 20px;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background-color: white;
  color: var(--primary);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo div {
  border: 2px dotted var(--primary);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  margin-left: 1rem;
}
header ul li:hover {
  cursor: pointer;
  background-color: red;
  font-size: 24px;
  transform: scale(1.5);
}
/* <!-- hero section --> */
.hero {
  background: url(./assets/hero.jpg) no-repeat center;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  padding: 32px;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.533);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content hr {
  width: 100%;
}
/* <!-- latest post section --> */
.latest {
  padding: 1rem 0;
  background: url(./assets/f.jpg) no-repeat center;
  background-size: cover;
  filter: grayscale(0.4);
}
main {
  display: flex;
  gap: 1rem;
}

.articles {
  width: 66%;
}
article {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shadow);
  background-color: rgba(96, 101, 101, 0.674);
  gap: 16px;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 20px 16px;
}
article .art-img {
  width: 350px;
}
article .btn {
  float: right;
}
.side-links {
  width: 34%;
}
.country {
  background-color: rgba(171, 196, 121, 0.863);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
  box-shadow: var(--shadow);
}
.date {
  background-color: rgba(206, 198, 99, 0.863);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
  box-shadow: var(--shadow);
}

/* <!-- recomendation --> */
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 250px;
  box-shadow: var(--shadow);
  padding-bottom: 32px;
  border-radius: 10px;
  flex-grow: 1;
}
.card img {
  border-radius: 10px 10px 0 0;
}
.card .btn {
  width: 100%;
}
/* <!-- subscribe section --> */

.subs {
  background: var(--secondary);
  padding: 32px 0;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.subs input {
  line-height: 42px;
  padding: 5px 10px;
  border: 1px solid rgba(126, 128, 122, 0.42);
  border-radius: 5px;
}
/* <!-- footer --> */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 64px;
  margin-top: 32px;
}
